{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
    <div class="row g-0">
          {% if cleaner.photo %}
            <div class="col-md-3">
              <img src="{{ cleaner.photo.url }}" class="img-fluid rounded-start" alt="...">
            </div>
        {% endif%}
            <div class="col-md-8">
              <div class="card-body">
                <h3>{{ cleaner.last_name }} {{ cleaner.first_name }} {{ cleaner.middle_name }}</h3>
                  <p>Номер телефона: {{ cleaner.phone_number}}</p>
                  <p>Электронная почта: {{ cleaner.email}}</p>
                  {% for company in cleaner.company.all%}
                    <p>УК: {{ company }}</p>
                  {% endfor %}
                  {% include 'components/cleaner_statistic.html' %}
              </div>
            </div>
    </div>
</div>
<div class="mb-5">
    <a href="{% url 'tasks:add_task' cleaner.id %}" class="btn btn-primary mt-3 no-print">Добавить задачу</a>
    <button class="btn btn-primary no-print mt-3" onclick="window.print()">Сформировать PDF</button>
    <h3 class="pt-5">Задачи {{ cleaner.last_name }} {{ cleaner.first_name }} {{ cleaner.middle_name }} (за все время)</h3>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Адрес</th>
                <th scope="col">Исполнитель</th>
                <th scope="col">Дата</th>
                <th scope="col">Отчет</th>
                <th scope="col">Оценка</th>
            </tr>
          </thead>
        <tbody>
        {% for task in all_tasks %}
            {% for address in task.address.all %}
                {% if task.is_active %}
                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ address }}</td>
                        <td>{{ cleaner.last_name }} {{ cleaner.first_name }} {{ cleaner.middle_name }}</td>
                        <td>{{ task.date }}</td>
                        <td>Отчета пока нет</td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr class="table-success">
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ address }}</td>
                        <td>{{ cleaner.last_name }} {{ cleaner.first_name }} {{ cleaner.middle_name }}</td>
                        <td>{{ task.date }}</td>
                        <td><a href="{% url 'tasks:view_report' task.id %}">Отчет</a></td>
                        {% if task.quality_assessment %}
                            <td><a href="{% url 'tasks:view_quality_assessment' task.id %}">Посмотреть проверку</a></td>
                        {% else %}
                            <td><a href="{% url 'tasks:create_quality_assessment' task.id %}">Оценить качество</a></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}