{% extends 'base.html' %}

{% block content %}
<h3>Задачи {{ cleaner.last_name }} {{ cleaner.first_name }}</h3>
<div>
    <a href="{% url 'tasks:add_task' cleaner.id %}" class="btn btn-primary">Добавить задачу</a>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Адрес</th>
              <th scope="col">Исполнитель</th>
              <th scope="col">Отчет</th>
            </tr>
          </thead>
        <tbody>
        {% for task in tasks %}
            {% for address in task.address.all %}
                {% if task.is_active%}
                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ address.city }}, {{ address.district }}, {{ address.street }}</td>
                        <td>{{ cleaner.last_name }} {{ cleaner.first_name }}</td>
                    </tr>
                {% else %}
                    <tr class="table-success">
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ address.city }}, {{ address.district }}, {{ address.street }}</td>
                        <td>{{ cleaner.last_name }} {{ cleaner.first_name }}</td>
                        <td><a href="{% url 'tasks:view_report' task.id %}">Отчет</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}