{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
    <div class="row g-0">
          {% if user.photo %}
            <div class="col-md-3">
              <img src="{{ user.photo.url }}" class="img-fluid rounded-start" alt="...">
            </div>
        {% endif%}
            <div class="col-md-8">
              <div class="card-body">
                <h1 class="card-title">Здравствуйте, {{ user }}</h1>
                <p class="card-text"><a href="{% url 'users:logout' %}">Выйти из аккаунта</a></p>
              </div>
            </div>
    </div>
</div>
<div class="pt-5">
    <h3>Адреса</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Адрес</th>
                <th scope="col">Информация</th>
            </tr>
          </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <th scope="row">{{ address.id }}</th>
                <td>{{ address }}</td>
                <td><a href="{% url 'tasks:get_address_info' address.id %}">Отчет по адресу</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="pt-5">
    <h3>Дворники</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">ФИО</th>
                <th scope="col">Информация</th>
            </tr>
          </thead>
        <tbody>
        {% for cleaner in cleaners %}
            <tr>
                <th scope="row">{{ cleaner.id }}</th>
                <td>{{ cleaner.last_name }} {{ cleaner.first_name }}</td>
                <td><a href="{% url 'tasks:get_cleaner_tasks' cleaner.id %}">Профиль</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% include 'components/appeals.html' %}
{% endblock %}