<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
    <body>
        <div class="container">
            {% block content %}
                <h1>Привет, {{user.last_name}} {{user.first_name}}</h1>
                <hr />

                <h3>Задачи</h3>
                {% for task in tasks %}
                    <p>{{ task }}<p>
                {% endfor %}

                <h3>Управляющие</h3>
                {% for manager in managers %}
                    {% for company in manager.company.all %}
                        <p>{{ manager.last_name }} {{ manager.first_name }}, {{ company.name }}, {{ company.id }}<p>
                    {% endfor %}
                {% endfor %}

                <h3>Дворники</h3>
                {% for cleaner in cleaners %}
                    {% for company in cleaner.company.all %}
                        <p>{{ cleaner.last_name }} {{ cleaner.first_name }}, {{ company.name }}, {{ company.id }}<p>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
        </div>
        
    </body>
</html>