{% extends 'base.html' %}

{% block content %}
<button class="btn btn-primary no-print mt-5 mb-5" onclick="window.print()">Сформировать PDF</button>
<h3>Отчет о работе ЖЭК в городе</h3>
<div>
        <div class="mt-3" id="YMapsID" style="width:600px;height:400px"></div>
        <script type="text/javascript">
            // Создает обработчик события window.onLoad
            YMaps.jQuery(function () {
                const data = {{ companies_json|safe }}

                // Создает экземпляр карты и привязывает его к созданному контейнеру
                var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);

                // Устанавливает начальные параметры отображения карты: центр карты и коэффициент масштабирования
                map.setCenter(new YMaps.GeoPoint(data[1]['fields']['coord2'], data[1]['fields']['coord1']), 10);
                for (var i = 0; i < data.length; i++){
                        // Задает опции метки и отображает метку на карте.
                        var placemark = new YMaps.Placemark(new YMaps.GeoPoint(data[i]['fields']['coord2'], data[i]['fields']['coord1']), {draggable: 1,
                            hintOptions: {
                                maxWidth: 100,
                                showTimeout: 200,
                                offset: new YMaps.Point(5, 5)
                            },
                            balloonOptions: {
                                maxWidth: 70,
                                hasCloseButton: false,
                                mapAutoPan: 0
                            }
                        });
                        placemark.name = data[i]['fields']['name'];
                        placemark.description = "Описание";
                        map.addOverlay(placemark);
                }
            })


        </script>
</div>
{% endblock %}