<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”noindex”>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=bebac4dc-1ced-4af5-b5e2-7cc34fe37039&lang=ru_RU" type="text/javascript">
    </script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
</head>


    <style>
        @media print {
            .no-print {
                display: none !important;
            }
        }

        .month > td, th{
            padding: 15px;
            text-align: center;
        }

        .month{
            text-align: center;
            margin-right: 45px;
        }

        .btn-danger, .btn-secondary, .btn-light {
            border-radius: 100%;
        }
    </style>
    <title>{{ title }}</title>

</head>
    <body>
        <div class="container pt-5">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>